<footer>
  <div class="left"></div>

  <div class="middle">Mustafa Dağlıoğlu - 2024</div>

  <div class="right">
    <a
      href="https://github.com/mustafapsd/subnet-practice"
      class="github-logo"
      target="_blank"
    >
      <img src="assets/images/github.svg" alt="GitHub Logo" />
    </a>

    <a
      href="https://www.linkedin.com/in/mustafa-psd"
      class="linkedin-logo"
      target="_blank"
    >
      <img src="assets/images/linkedin.svg" alt="LinkedIn Logo" />
    </a>

    <!-- mail -->
    <a href="mailto:mustafa.psd@yandex.com" class="mail-logo">
      <img src="assets/images/mail.svg" alt="Mail Logo" />
    </a>
  </div>
</footer>
