.address-input {
  display: block;
  width: 100%;
  position: relative;

  .inputs {
    display: flex;
    align-items: flex-end;
    width: 100%;

    input {
      width: 5rem;
    }

    .dot {
      font-size: 1.5rem;
      padding: 0 .1rem;
    }
  }
}
