:host.ng-invalid input {
  border-color: #dc3545;
}

.address-input {
  display: block;
  width: 100%;
  position: relative;

  .inputs {
    display: flex;
    align-items: flex-end;
    width: 100%;

    input {
      width: 3rem;
      max-width: 10dvw;
    }

    .dot {
      font-size: 1.5rem;
      padding: 0 .1rem;
    }
  }
}
