<div class="address-input">
  <div class="inputs">
    <input
      type="number"
      [disabled]="disabled"
      name="octet1"
      id="octet1"
      [(ngModel)]="octets['octet1']"
    />
    <div class="dot">.</div>
    <input
      type="number"
      [disabled]="disabled"
      name="octet2"
      id="octet2"
      [(ngModel)]="octets['octet2']"
    />
    <div class="dot">.</div>
    <input
      type="number"
      [disabled]="disabled"
      name="octet3"
      id="octet3"
      [(ngModel)]="octets['octet3']"
    />
    <div class="dot">.</div>
    <input
      type="number"
      [disabled]="disabled"
      name="octet4"
      id="octet4"
      [(ngModel)]="octets['octet4']"
    />
  </div>
</div>
